.e-shumaguan{
	width:370px;
	/*padding:40px;*/
	padding:5px;
	margin:2px auto;
	position:relative;
}

.e-shumaguan:after{
	content:'';
	position:absolute;
	width:400px;
	/* 阴影*/
	/*height:20px;*/
	border-radius:100%;
	left:50%;
	margin-left:-200px;
	bottom:2px;
	z-index:-1;
}


.e-shumaguan .display{
	text-align:center;
	/*padding: 40px 20px 20px;*/
  padding:5px 4px 4px;
	border-radius:6px;
	position:relative;
	height: 54px;
}


/*-------------------------
	Light color theme
--------------------------*/


.e-shumaguan.light{
	background-color:#f3f3f3;
	color:#272e38;
}

.e-shumaguan.light:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.e-shumaguan.light .digits div span{
	background-color:#272e38;
	border-color:#272e38;	
}

.e-shumaguan.light .digits div.dots:before,
.e-shumaguan.light .digits div.dots:after{
	background-color:#272e38;
}



.e-shumaguan.light .display{
	background-color:#dddddd;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
}


/*-------------------------
	Dark color theme
--------------------------*/


.e-shumaguan.dark{
	background-color:#272e38;
	/*color:#cacaca;*/
	color:#850132;
}

.e-shumaguan.dark:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.e-shumaguan.dark .digits div span{
	background-color:#850132;
	border-color:#850132;	
}



.e-shumaguan.dark .display{
	background-color:#0f1620;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
}

.e-shumaguan.dark .digits div.dots:before,
.e-shumaguan.dark .digits div.dots:after{
	background-color:#850132;
}


/*-------------------------
	The Digits
--------------------------*/


.e-shumaguan .digits div{
	text-align:left;
	position:relative;
	width: 28px;
	height:50px;
	display:inline-block;
	margin:0 4px;
}


/*850132 FEFBEA*/

.e-shumaguan .digits div span{
	opacity:0.1;
	position:absolute;
  /*add 底色 color*/
  color:#850132;
	-webkit-transition:0.25s;
	-moz-transition:0.25s;
	transition:0.25s;
}

.e-shumaguan .digits div span:before,
.e-shumaguan .digits div span:after{
	content:'';
	position:absolute;
	width:0;
	height:0;
	/*border:5px solid rgba(133,01,50,0.1);*/
	border:5px solid transparent;
}

.e-shumaguan .digits .d1{			height:5px;width:16px;top:0;left:6px;}
.e-shumaguan .digits .d1:before{	border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
.e-shumaguan .digits .d1:after{	border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}

.e-shumaguan .digits .d2{			height:5px;width:16px;top:24px;left:6px;}
.e-shumaguan .digits .d2:before{	border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
.e-shumaguan .digits .d2:after{	border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}

.e-shumaguan .digits .d3{			height:5px;width:16px;top:48px;left:6px;}
.e-shumaguan .digits .d3:before{	border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
.e-shumaguan .digits .d3:after{	border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}

.e-shumaguan .digits .d4{			width:5px;height:14px;top:7px;left:0;}
.e-shumaguan .digits .d4:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
.e-shumaguan .digits .d4:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

.e-shumaguan .digits .d5{			width:5px;height:14px;top:7px;right:0;}
.e-shumaguan .digits .d5:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
.e-shumaguan .digits .d5:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}

.e-shumaguan .digits .d6{			width:5px;height:14px;top:32px;left:0;}
.e-shumaguan .digits .d6:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
.e-shumaguan .digits .d6:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

.e-shumaguan .digits .d7{			width:5px;height:14px;top:32px;right:0;}
.e-shumaguan .digits .d7:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
.e-shumaguan .digits .d7:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}


/* 1 */

.e-shumaguan .digits div.one .d5,
.e-shumaguan .digits div.one .d7{
	opacity:1;
}

/* 2 */

.e-shumaguan .digits div.two .d1,
.e-shumaguan .digits div.two .d5,
.e-shumaguan .digits div.two .d2,
.e-shumaguan .digits div.two .d6,
.e-shumaguan .digits div.two .d3{
	opacity:1;
}

/* 3 */

.e-shumaguan .digits div.three .d1,
.e-shumaguan .digits div.three .d5,
.e-shumaguan .digits div.three .d2,
.e-shumaguan .digits div.three .d7,
.e-shumaguan .digits div.three .d3{
	opacity:1;
}

/* 4 */

.e-shumaguan .digits div.four .d5,
.e-shumaguan .digits div.four .d2,
.e-shumaguan .digits div.four .d4,
.e-shumaguan .digits div.four .d7{
	opacity:1;
}

/* 5 */

.e-shumaguan .digits div.five .d1,
.e-shumaguan .digits div.five .d2,
.e-shumaguan .digits div.five .d4,
.e-shumaguan .digits div.five .d3,
.e-shumaguan .digits div.five .d7{
	opacity:1;
}

/* 6 */

.e-shumaguan .digits div.six .d1,
.e-shumaguan .digits div.six .d2,
.e-shumaguan .digits div.six .d4,
.e-shumaguan .digits div.six .d3,
.e-shumaguan .digits div.six .d6,
.e-shumaguan .digits div.six .d7{
	opacity:1;
}


/* 7 */

.e-shumaguan .digits div.seven .d1,
.e-shumaguan .digits div.seven .d5,
.e-shumaguan .digits div.seven .d7{
	opacity:1;
}

/* 8 */

.e-shumaguan .digits div.eight .d1,
.e-shumaguan .digits div.eight .d2,
.e-shumaguan .digits div.eight .d3,
.e-shumaguan .digits div.eight .d4,
.e-shumaguan .digits div.eight .d5,
.e-shumaguan .digits div.eight .d6,
.e-shumaguan .digits div.eight .d7{
	opacity:1;
}

/* 9 */

.e-shumaguan .digits div.nine .d1,
.e-shumaguan .digits div.nine .d2,
.e-shumaguan .digits div.nine .d3,
.e-shumaguan .digits div.nine .d4,
.e-shumaguan .digits div.nine .d5,
.e-shumaguan .digits div.nine .d7{
	opacity:1;
}

/* 0 */

.e-shumaguan .digits div.zero .d1,
.e-shumaguan .digits div.zero .d3,
.e-shumaguan .digits div.zero .d4,
.e-shumaguan .digits div.zero .d5,
.e-shumaguan .digits div.zero .d6,
.e-shumaguan .digits div.zero .d7{
	opacity:1;
}


/* The dots */

.e-shumaguan .digits div.dots{
	width:5px;
}

.e-shumaguan .digits div.dots:before,
.e-shumaguan .digits div.dots:after{
	width:5px;
	height:5px;
	content:'';
	position:absolute;
	left:0;
	top:14px;
}

.e-shumaguan .digits div.dots:after{
	top:34px;
}


/*-------------------------
	The Alarm
--------------------------*/



.e-shumaguan .alarm.active{
	opacity:1;
}


/*-------------------------
	Weekdays
--------------------------*/


.e-shumaguan .weekdays{
	font-size:12px;
	position:absolute;
	width:100%;
	top:10px;
	left:0;
	text-align:center;
}


.e-shumaguan .weekdays span{
	opacity:0.2;
	padding:0 10px;
}

.e-shumaguan .weekdays span.active{
	opacity:1;
}




